.validate-button {
    -fx-background-image: url("./validate_button.png");
    -fx-border-color: #5bc659;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

.cancel-button {
    -fx-background-image: url("./cancel_button.png");
    -fx-border-color: #c65959;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

Button {
    -fx-padding: 5 5 5 5;
}

.search-bar {
    -fx-padding: 0 5 0 0;
}

.big-button {
    -fx-padding: 10 10 10 10;
}

.status-button {
    -fx-background-color: #00000000;
    -fx-padding: -4 -4 -4 -4;
}

.status-button:hover {
    -fx-background-color: #00000008;
}